*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/iosApp/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/androidApp/release_keystore.jks
/androidApp/debug_keystore.jks
/androidApp/google-services.json
/androidApp/release/
/androidApp/debug/androidApp-debug.aab
/iosApp/Configuration.storekit
/iosApp/iosApp/GoogleService-Info.plist
.kotlin
/androidApp/debug_keystore_old.jks
